<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="../assets/css/index.css">
    <link rel="stylesheet" href="../assets/css/infomation.css">
    <link rel="stylesheet" href="../assets/fonts/fontawesome-free-6.3.0-web/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
     <div class="grid">
        <div class="header">
            <i class="fa-solid fa-chevron-left"></i>
            <p class="header__des">Thông tin tài khoản</p>
        </div>
        <div class="container">
            <div class="account-photo-wrapper">
                <img class="account-photo-icon" alt="" src="../assets/img/info/account-photo.png"/>
                <img src="../assets/img/info/icon.svg" alt="" class="icon">
            </div>
            <div class="information">
                <input type="text" class="firtsName" value="Nguyen">
                <input type="text" class="lastName" value="Sang">
                <input type="text" class="phoneNumber" value="Phone Number">
                <input type="email" class="email" value="Email">
            </div>
            <div class="footer">
                <button class="logout">Cập nhật</button>
            </div>
        </div>
     </div>
</body>
</html>